// colors
$primary-color: #EA003d;
$secondary-color: #FFFFFF;

// spacers
$xs-spacer: 0.05rem;
$s-spacer: 0.1rem;
$m-spacer: 0.5rem;
$l-spacer: 1rem;
$xl-spacer: 2.5rem;

// text sizes
$s-text: 0.5rem;
$m-text: 1rem;
$l-text: 1.5rem;
$xl-text: 2rem;