@import './../variables.scss';

.list {
  list-style: none;

  &__item {
    display: flex;
    align-items: start;
    margin-top: $m-spacer;

    &__text {
      display: flex;
      align-self: center;
      font-size: $m-text;
    }

    &__circle {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $xl-text * 1.6;
      min-height: $xl-text * 1.6;
      background-color: $primary-color;
      border-radius: 50%;
      margin-right: $l-spacer;

      &::after {
        content: counter(list-item, decimal);
        font-size: $xl-text;
        font-weight: bold;
        color: $secondary-color;
        counter-increment: list-item;
      }
    }
  }
}
